/****** Object:  Database [PlanetGo]    Script Date: 13/09/2017 00:46:05 ******/
CREATE DATABASE [PlanetGo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlanetGo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PlanetGo.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PlanetGo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PlanetGo_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlanetGo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Rank_Id] [smallint] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BoardSize]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoardSize](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[X] [smallint] NOT NULL,
	[Y] [smallint] NOT NULL,
 CONSTRAINT [PK_dbo.BoardSize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Game]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[SgfString] [nvarchar](max) NULL,
	[BlackPlayerId] [int] NOT NULL,
	[WhitePlayerId] [int] NOT NULL,
	[BlackPlayerRankId] [smallint] NOT NULL,
	[WhitePlayerRankId] [smallint] NOT NULL,
	[StartTimestamp] [datetime] NOT NULL,
	[LastPlayedTimestamp] [datetime] NULL,
	[EndTimestamp] [datetime] NULL,
	[Moves] [smallint] NOT NULL,
	[Turn] [int] NULL,
	[GameResultId] [bigint] NULL,
	[Tournament_Id] [int] NULL,
	[GameRequestId] [bigint] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Game] PRIMARY KEY CLUSTERED 
(
	[GameRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GameRequest]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameRequest](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[IsOpen] [bit] NOT NULL,
	[CreationTimestamp] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
	[BoardSizeId] [smallint] NOT NULL,
	[RuleSetId] [smallint] NOT NULL,
	[ColorOfAuthor] [int] NULL,
	[CompensationPoints] [float] NULL,
	[PlayerWithCompensationPoints] [int] NOT NULL,
	[HandicapStones] [smallint] NULL,
	[HandicapStonesPlacement] [int] NOT NULL,
	[LowestOpponentRankId] [smallint] NULL,
	[HighestOpponentRankId] [smallint] NULL,
	[SpecificOpponentId] [int] NULL,
	[NewOpponentsOnly] [bit] NOT NULL,
	[TournamentId] [int] NULL,
	[GameId] [bigint] NULL,
 CONSTRAINT [PK_dbo.GameRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GameResult]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameResult](
	[GameId] [bigint] NOT NULL,
	[Type] [int] NOT NULL,
	[WinnerScore] [smallint] NULL,
	[LoserScore] [smallint] NULL,
	[Winner_Id] [int] NULL,
 CONSTRAINT [PK_dbo.GameResult] PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rank]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[Id] [smallint] NOT NULL,
	[Type] [int] NOT NULL,
	[Level] [smallint] NOT NULL,
 CONSTRAINT [PK_dbo.Rank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RuleSet]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleSet](
	[Id] [smallint] NOT NULL,
 CONSTRAINT [PK_dbo.RuleSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tournament]    Script Date: 13/09/2017 00:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournament](
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Tournament] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Rank_Id]) VALUES (1, N'mattia.garassini@gmail.com', 1, N'ACEAprHgwA67Qb8suuEyrxuBslvTe/pSn6+wB0URhetP7KzAHH+QrVtrYkfUYaGqrA==', N'11c6529f-cc9d-4383-a77f-33bb44fa3433', NULL, 0, 0, NULL, 0, 0, N'PlanetGoAdmin', 0)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Rank_Id]) VALUES (2, N'bruce.wayne@gothamcity.com', 1, N'AFynzpGQOQVTROd+BZ++k6dtPeRqqlY5jXbFTBRQfyqz6m28HxS/4q80yisSavKxMw==', N'b009bcf2-d54c-43be-be79-7cfcbe5e08a8', NULL, 0, 0, NULL, 0, 0, N'Batman', 0)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Rank_Id]) VALUES (3, N'elvis.presley@memphis.com', 1, N'AG4PeVqqNn9pZCr4GRI03XeXekw2UmZDAywcOpCg6G5OJKUuLxAIfSNMd0jyRHQ5SA==', N'3f54aa6e-3ae0-42df-91b0-63967e9ab569', NULL, 0, 0, NULL, 0, 0, N'Elvis', 0)
SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
SET IDENTITY_INSERT [dbo].[BoardSize] ON 

INSERT [dbo].[BoardSize] ([Id], [X], [Y]) VALUES (1, 9, 9)
INSERT [dbo].[BoardSize] ([Id], [X], [Y]) VALUES (2, 13, 13)
INSERT [dbo].[BoardSize] ([Id], [X], [Y]) VALUES (3, 19, 19)
SET IDENTITY_INSERT [dbo].[BoardSize] OFF
INSERT [dbo].[Game] ([SgfString], [BlackPlayerId], [WhitePlayerId], [BlackPlayerRankId], [WhitePlayerRankId], [StartTimestamp], [LastPlayedTimestamp], [EndTimestamp], [Moves], [Turn], [GameResultId], [Tournament_Id], [GameRequestId]) VALUES (NULL, 1, 3, 0, 0, CAST(N'2017-04-17 16:23:14.860' AS DateTime), NULL, NULL, 0, 0, NULL, NULL, 1)
INSERT [dbo].[Game] ([SgfString], [BlackPlayerId], [WhitePlayerId], [BlackPlayerRankId], [WhitePlayerRankId], [StartTimestamp], [LastPlayedTimestamp], [EndTimestamp], [Moves], [Turn], [GameResultId], [Tournament_Id], [GameRequestId]) VALUES (NULL, 1, 3, 0, 0, CAST(N'2017-04-17 16:27:15.120' AS DateTime), NULL, NULL, 0, 0, NULL, NULL, 2)
INSERT [dbo].[Game] ([SgfString], [BlackPlayerId], [WhitePlayerId], [BlackPlayerRankId], [WhitePlayerRankId], [StartTimestamp], [LastPlayedTimestamp], [EndTimestamp], [Moves], [Turn], [GameResultId], [Tournament_Id], [GameRequestId]) VALUES (NULL, 2, 1, 0, 0, CAST(N'2017-04-17 17:09:46.723' AS DateTime), NULL, NULL, 0, 0, NULL, NULL, 5)
SET IDENTITY_INSERT [dbo].[GameRequest] ON 

INSERT [dbo].[GameRequest] ([Id], [AuthorId], [IsOpen], [CreationTimestamp], [Type], [BoardSizeId], [RuleSetId], [ColorOfAuthor], [CompensationPoints], [PlayerWithCompensationPoints], [HandicapStones], [HandicapStonesPlacement], [LowestOpponentRankId], [HighestOpponentRankId], [SpecificOpponentId], [NewOpponentsOnly], [TournamentId], [GameId]) VALUES (1, 1, 0, CAST(N'2017-04-17 16:01:45.493' AS DateTime), 0, 2, 0, 0, 6.5, 0, 0, 0, NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[GameRequest] ([Id], [AuthorId], [IsOpen], [CreationTimestamp], [Type], [BoardSizeId], [RuleSetId], [ColorOfAuthor], [CompensationPoints], [PlayerWithCompensationPoints], [HandicapStones], [HandicapStonesPlacement], [LowestOpponentRankId], [HighestOpponentRankId], [SpecificOpponentId], [NewOpponentsOnly], [TournamentId], [GameId]) VALUES (2, 1, 0, CAST(N'2017-04-17 16:02:48.540' AS DateTime), 0, 2, 0, 0, 6.5, 0, 0, 0, NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[GameRequest] ([Id], [AuthorId], [IsOpen], [CreationTimestamp], [Type], [BoardSizeId], [RuleSetId], [ColorOfAuthor], [CompensationPoints], [PlayerWithCompensationPoints], [HandicapStones], [HandicapStonesPlacement], [LowestOpponentRankId], [HighestOpponentRankId], [SpecificOpponentId], [NewOpponentsOnly], [TournamentId], [GameId]) VALUES (4, 3, 1, CAST(N'2017-04-17 16:42:21.330' AS DateTime), 0, 1, 0, 0, 6.5, 0, 0, 0, NULL, NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GameRequest] OFF
INSERT [dbo].[Rank] ([Id], [Type], [Level]) VALUES (0, 0, 25)
INSERT [dbo].[Rank] ([Id], [Type], [Level]) VALUES (1, 0, 24)
INSERT [dbo].[Rank] ([Id], [Type], [Level]) VALUES (2, 0, 23)
INSERT [dbo].[RuleSet] ([Id]) VALUES (0)
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 13/09/2017 00:46:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rank_Id]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_Rank_Id] ON [dbo].[AspNetUsers]
(
	[Rank_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 13/09/2017 00:46:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlackPlayerId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_BlackPlayerId] ON [dbo].[Game]
(
	[BlackPlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlackPlayerRankId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_BlackPlayerRankId] ON [dbo].[Game]
(
	[BlackPlayerRankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameRequestId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_GameRequestId] ON [dbo].[Game]
(
	[GameRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameResultId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_GameResultId] ON [dbo].[Game]
(
	[GameResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tournament_Id]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_Tournament_Id] ON [dbo].[Game]
(
	[Tournament_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WhitePlayerId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_WhitePlayerId] ON [dbo].[Game]
(
	[WhitePlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WhitePlayerRankId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_WhitePlayerRankId] ON [dbo].[Game]
(
	[WhitePlayerRankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_AuthorId] ON [dbo].[GameRequest]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BoardSizeId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_BoardSizeId] ON [dbo].[GameRequest]
(
	[BoardSizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_GameId] ON [dbo].[GameRequest]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HighestOpponentRankId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_HighestOpponentRankId] ON [dbo].[GameRequest]
(
	[HighestOpponentRankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LowestOpponentRankId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_LowestOpponentRankId] ON [dbo].[GameRequest]
(
	[LowestOpponentRankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RuleSetId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_RuleSetId] ON [dbo].[GameRequest]
(
	[RuleSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SpecificOpponentId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_SpecificOpponentId] ON [dbo].[GameRequest]
(
	[SpecificOpponentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TournamentId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_TournamentId] ON [dbo].[GameRequest]
(
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameId]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_GameId] ON [dbo].[GameResult]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Winner_Id]    Script Date: 13/09/2017 00:46:07 ******/
CREATE NONCLUSTERED INDEX [IX_Winner_Id] ON [dbo].[GameResult]
(
	[Winner_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.Rank_Rank_Id] FOREIGN KEY([Rank_Id])
REFERENCES [dbo].[Rank] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.Rank_Rank_Id]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Game_dbo.AspNetUsers_BlackPlayerId] FOREIGN KEY([BlackPlayerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_dbo.Game_dbo.AspNetUsers_BlackPlayerId]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Game_dbo.AspNetUsers_WhitePlayerId] FOREIGN KEY([WhitePlayerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_dbo.Game_dbo.AspNetUsers_WhitePlayerId]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Game_dbo.GameRequest_GameRequestId] FOREIGN KEY([GameRequestId])
REFERENCES [dbo].[GameRequest] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_dbo.Game_dbo.GameRequest_GameRequestId]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Game_dbo.GameResult_GameResultId] FOREIGN KEY([GameResultId])
REFERENCES [dbo].[GameResult] ([GameId])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_dbo.Game_dbo.GameResult_GameResultId]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Game_dbo.Rank_BlackPlayerRankId] FOREIGN KEY([BlackPlayerRankId])
REFERENCES [dbo].[Rank] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_dbo.Game_dbo.Rank_BlackPlayerRankId]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Game_dbo.Rank_WhitePlayerRankId] FOREIGN KEY([WhitePlayerRankId])
REFERENCES [dbo].[Rank] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_dbo.Game_dbo.Rank_WhitePlayerRankId]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Game_dbo.Tournament_TournamentId] FOREIGN KEY([Tournament_Id])
REFERENCES [dbo].[Tournament] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_dbo.Game_dbo.Tournament_TournamentId]
GO
ALTER TABLE [dbo].[GameRequest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GameRequest_dbo.AspNetUsers_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[GameRequest] CHECK CONSTRAINT [FK_dbo.GameRequest_dbo.AspNetUsers_AuthorId]
GO
ALTER TABLE [dbo].[GameRequest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GameRequest_dbo.AspNetUsers_SpecificOpponentId] FOREIGN KEY([SpecificOpponentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[GameRequest] CHECK CONSTRAINT [FK_dbo.GameRequest_dbo.AspNetUsers_SpecificOpponentId]
GO
ALTER TABLE [dbo].[GameRequest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GameRequest_dbo.BoardSize_BoardSizeId] FOREIGN KEY([BoardSizeId])
REFERENCES [dbo].[BoardSize] ([Id])
GO
ALTER TABLE [dbo].[GameRequest] CHECK CONSTRAINT [FK_dbo.GameRequest_dbo.BoardSize_BoardSizeId]
GO
ALTER TABLE [dbo].[GameRequest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GameRequest_dbo.Game_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameRequestId])
GO
ALTER TABLE [dbo].[GameRequest] CHECK CONSTRAINT [FK_dbo.GameRequest_dbo.Game_GameId]
GO
ALTER TABLE [dbo].[GameRequest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GameRequest_dbo.Rank_HighestOpponentRankId] FOREIGN KEY([HighestOpponentRankId])
REFERENCES [dbo].[Rank] ([Id])
GO
ALTER TABLE [dbo].[GameRequest] CHECK CONSTRAINT [FK_dbo.GameRequest_dbo.Rank_HighestOpponentRankId]
GO
ALTER TABLE [dbo].[GameRequest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GameRequest_dbo.Rank_LowestOpponentRankId] FOREIGN KEY([LowestOpponentRankId])
REFERENCES [dbo].[Rank] ([Id])
GO
ALTER TABLE [dbo].[GameRequest] CHECK CONSTRAINT [FK_dbo.GameRequest_dbo.Rank_LowestOpponentRankId]
GO
ALTER TABLE [dbo].[GameRequest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GameRequest_dbo.RuleSet_RuleSetId] FOREIGN KEY([RuleSetId])
REFERENCES [dbo].[RuleSet] ([Id])
GO
ALTER TABLE [dbo].[GameRequest] CHECK CONSTRAINT [FK_dbo.GameRequest_dbo.RuleSet_RuleSetId]
GO
ALTER TABLE [dbo].[GameRequest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GameRequest_dbo.Tournament_TournamentId] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournament] ([Id])
GO
ALTER TABLE [dbo].[GameRequest] CHECK CONSTRAINT [FK_dbo.GameRequest_dbo.Tournament_TournamentId]
GO
ALTER TABLE [dbo].[GameResult]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GameResult_dbo.AspNetUsers_Winner_Id] FOREIGN KEY([Winner_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[GameResult] CHECK CONSTRAINT [FK_dbo.GameResult_dbo.AspNetUsers_Winner_Id]
GO
ALTER TABLE [dbo].[GameResult]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GameResult_dbo.Game_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameRequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameResult] CHECK CONSTRAINT [FK_dbo.GameResult_dbo.Game_GameId]
GO
