/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

html, body, #layoutContainer, #layoutRow, #layoutMainCol {
    height: 100%;
    min-height: 100%;
}

body {
    color: #070300;
    background-color: #e8ead5;
    background-image: url('purty_wood_@2X.png');
    background-repeat:repeat;
}

#layoutMainCol {
    padding: 3rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#layoutMainCol, #layoutNavCol {
    margin: 0rem;
    border: 0rem;
}

footer {
    margin-top: 3rem;
    padding: 3rem 3rem 3rem 3rem;
    /*border-top: 2px solid #070300;*/
    background-color: rgba(0,0,0,0.3);
    border-radius: 3rem 3rem 0rem 0rem;
}

#layoutNavCol {
    padding: 0rem;
}

.navbar {
    border: none;
    text-align: justify;
    text-align-last:justify;
    /*background-color: rgba(0,0,0,0.6);*/
}

/*.divider {
    border: 1px solid #ce9917;
}*/

ul.navbar-nav, .navbar-header {
    background: rgba(0,0,0,0.3);
}

ul.navbar-nav {
    margin:1rem 1rem;
    padding:2rem 0rem;
    border-radius:3rem;
}

    ul.navbar-nav li {
        margin:0rem 1rem;
    }

.navbar-default .navbar-nav li a {
    background: inherit;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1.6rem;
    /*border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;*/
    /*border-right: 1rem solid transparent;*/
    /*border-left: 1rem solid transparent;*/
}

        .navbar-default .navbar-nav li a:hover {
            color: red;
            transition: linear 0.15s;
            /*border-top: 1px solid #ce9917;
            border-bottom: 1px solid #ce9917;*/
            border-color:red;
        }

.navbar-default .navbar-nav .active a {
    background: inherit;
    border: none;
    color: #FFFFFF;
}

    .navbar-default .navbar-nav .active a:hover {
        background:inherit;
        color:red;
        transition:linear 0.2s;
    }

.logo {
    margin: 3rem 1rem;
    background: #000000;
    padding: 1rem;
    border-radius: 3rem;
}

.glyphicon::before {
    padding-right:0.5rem;
    font-size:1.5rem;
    left:0;
}

.navbar {
    background-color:transparent;
}

table.goban {
    border-spacing:0;
    border-collapse: collapse;
    border:3px inset #b18201;
}

    table.goban, table.goban * {
        border:0;
        margin:0;
        padding:0;
    }
    
    .tile {
        position: relative;
    }
.tile img {
    z-index:0;
}
.stone {
    position:absolute;
    z-index:1;
    top:0;
    left:0;
}
.tile.empty .stone {
    visibility:hidden;
}
table.playable .tile.empty:hover .stone {
    visibility:visible;
}
table.playable .tile.empty:hover .stone img {
    opacity: 0.5;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}